section {
    display: block;
    margin-left: 100px ;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

article.planet-info {
    color: white;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.planet-info-list span {
    color: rgba(255, 255, 255, 0.5);
    
}

img.planet-image {
    display: block;
    border-radius: 50%;
    margin:30px 20px;
    text-align: center;
    animation-name: rotate;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {}

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet-info h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 2rem;
    margin-left: 50px;
}

.planet-info p {
    margin: 0 20px;
}