body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    background-color: black;   
}

.wrapper{
    display: block;
    min-height: 250vh;
    margin: 0 auto;
    overflow: hidden;
    background: url("img/universe-2742113.jpg") no-repeat 50% 50%; 
    animation-name:bg ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 600s;
}



@keyframes bg{
    0%{
    }
    50%{
         background-position-y:  100% ;
         background-position-x:50% ;
    }
100%{
}}

.basic-container{
    display: grid;
    grid-template-columns:0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr ;
    gap: 5px;
    grid-template-areas:
    ". hd hd hd hd hd hd ."
    ". mn mn mn mn mn mn ."
    ". ft ft ft ft ft ft ." ;
    
}

.hidden{
    visibility: hidden;
    position: absolute;
    height: 0;
}



/*HEADER*/

.header-container{
    grid-area: hd;
    display: block;
    margin:0 auto ;
}

.header{
    display: flex;
    align-self: center;
    justify-content: space-between ;
    height: 100px;
    align-items: center;
    margin: 10px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-left,
.header-right{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.header-left{
    flex: 37%;
}

.header-right{
    flex: 63%;
}

.header a.logo{
    display:block;
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    align-self: center  ;
    transition: 0.3s;
}

.header a:hover.logo{
    transform: scale(1.3) rotate(360deg);
}

.header a:active.logo{
    color: skyblue;
    transform: scale(1.1) rotate(-360deg);
}


.header .title a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px ;
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    margin:0 30px;
}

.sign-form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin:0 10px;
}

.form-col label{
    display: block;
    color: white;
    text-transform: uppercase;
    width: 30%;
    padding: 0 5px;
}

.form-col input{
    display: block;
    margin:0 5px 10px 5px ;

}

a.nav-link{
    color:white;
    text-decoration: none;
    font-size:10px ;
}

.title a:hover,
a:hover.nav-link{
    color: skyblue;
}

.title a:active,
a:active.nav-link{
    color: tomato;
}

nav.nav{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    padding: 10px;
    margin:0 10px;
}       

.nav li.nav-item{
    display: block;
    margin: 0 5px;
}


/*MAIN*/

.main-container{
    grid-area: mn;
    display: block;
    margin: 0 auto;
    
}


.main{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
/*     background-color: rgba(255, 255, 255, 0.2);
 */}

 
.sidebar{
   width: 10%;
   display:flex;
   flex-direction: column;
  align-items: center;
   padding: 0;
   background-color: rgba(0, 0, 0, 0.4);
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.content{
    min-width:90vw ;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

article.planet-info {
    color: white;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.planet-info-list span {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

img.planet-image {
    display: block;
    border-radius: 50%;
    margin:50px auto;
    align-self: center;
    animation-name: rotate;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {}

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet-info h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 2rem;
    margin-left: 50px;
}

.planet-info p {
    margin: 0 20px;
}













.main-container{
    grid-area: mn;
}

.footer-container{
    grid-area: ft;
}