body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: black; 
   height: 100%;
    
}
 
.multi_bg_example,
.wrapper{
    display: block;
    align-self: center;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    background-image: url(" img/solar-system-439046.jpg "),  linear-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat,  no-repeat;
    background-position:  50%, 50% ;
    background: -moz-linear-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -webkit-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -ms-linear-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-size:100% auto ;
    animation-name:bg ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1200s;
}



@keyframes bg{
    0%{
    }
    50%{
         background-position-y:-100% ;
    background-position-x:center ;
    }
100%{
    background-position-y:100% ;
    background-position-x:center ;
}}

.basic-container{
    display: grid;
   
   
    grid-template-areas:
    ". hd hd hd hd hd hd ."
    ". mn mn mn mn mn mn ."
    ". ft ft ft ft ft ft ." ;
    grid-template-columns:0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr ;
    grid-template-rows:auto auto 5vh ;
}

.hidden{
    visibility: hidden;
    position: absolute;
    height: 0;
}



/*HEADER*/

.header-container{
    grid-area: hd;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 0 3vw;
    margin:5px auto 0 auto ;
    position: fixed;
    width: 100%;
    
}

.header{
    display: flex;
    width: 90vw;
    align-self: center;
    justify-content: space-between ;
    align-items: center;
    padding: 5px;
    height: 10vh;
}

.header-left,
.header-right{
    display: flex;
    justify-content: space-around;
   
}

.header-left{
    flex: 50%;
}

.header-right{
    flex: 50%;
    text-align: right;
}

.header a.logo{
    display:block;
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    align-self: center  ;
    transition: 0.3s;
}

.header a:hover.logo{
    transform: scale(1.3) rotate(360deg);
}

.header a:active.logo{
    color: skyblue;
    transform: scale(1.1) rotate(-360deg);
}


.header .title a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px ;
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    margin:5px 30px;
}

.sign-form{
    display: flex;
   flex-direction: column;
   align-content: center;
    padding: 5px;
    margin:5px ;
}


.form-col{
    display: flex;
   
    align-items: center;
}
.form-col label{
    color: white;
    text-transform: uppercase;
    width: 30%;
    padding:5px;
   
}

.form-col input{
    height: 10%;
    width: 50%;
}



a.nav-link{
    color:white;
    text-decoration: none;
    font-size:10px ;
}

.title a:hover,
a:hover.nav-link{
    color: skyblue;
    transform:translateY(5px) scale(1.3);
}

.title a:active,
a:active.nav-link{
    color: tomato;
}

nav.nav{
    display: flex;
    justify-content:flex-start;
    align-items: center;

    list-style: none;
    padding: 10px;
    margin:0 10px;
}       

.nav li.nav-item{
    display: block;
    margin: 0 5px;
}


/*MAIN*/

.main-container{
    grid-area: mn;
    display: block;
    margin: 13vh auto 0 auto;
}


.main{
    display:flex;
    min-height: 90vh;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}

 
.sidebar{
   width:10vw;
   display:flex;
   flex-direction: column;
  align-items: center;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.4);
}

.sidebar ul.objects-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.objects-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.objects-list ul.planet-list{

    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.planet-item{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.planet-item,
li.object-item{
    padding: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

a.object-link,
a.solarSystem-link,
a.planet-link,
a.planet-list-link{
    width: 8em;
    color: white;
    transition:all 0.3s;
}

a:hover.object-link,
a:hover.planet-link,
a:hover.solarSystem-link,
a:hover.planet-list-link{
    color: grey;
    transform: translateX(10px);
}

a:active.object-link,
a:active.planet-link,
a:active.solarSystem-link,
a:active.planet-list-link{
    color: rgb(107, 18, 18);
    transform: translateX(10px);
}


 .solar-system .planet-image{
    margin: 50px auto;
    height: 30vh;
}

.content{
    width: 65vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 10px auto;
}

article.planet-info {
    color: white;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.planet-info-list span,
.solar-system span {
    display: block;
    padding: 10px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.rotate{
    animation-name: rotate;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {}

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet-info h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin-left: 25px;
}

.planet-info p {
    margin: 0 20px;
}

div.header-container,
header li,
header h1,
header h2,
section h3,
section article,
section span{
    z-index:5;
}


section.solar-system,
section.planet-info-list,
section.solar-system-model{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* section.solar-system,
section.planet-info-list,
section.solar-system-model{
    display: block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
} */

.planet-image-container{
    display: block;
    padding: 5px;
    width: 310px;
    height: 310px;
    margin: 100px auto;
}


img.planet-image{
    display: inline-block;
    margin:5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.planet-info-list .planet-info,
.solar-system .planet-info{
   margin-top: 25vh;
}

aside{
    width:10vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
 }


/*planets*/


.planet{
    position: absolute;
    overflow: hidden;
    z-index: 1;
}


.realsun,
.sun {  
    border-radius: 50%; 
    top:33vh ;
    left: 36vw;
    width: 28.5vw;
    height: 28.5vw;
    box-shadow: 0 0 100px 0 rgb(228, 124, 55);
    animation-name: sun  ;
    animation-duration: 270s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}



@keyframes sun{
    0%{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(720deg) scale(0.5) ;
    }
    100%{
        transform: rotate(1440deg) ;
    }

}

.hotsun{
    box-shadow: 0 0 200px 0 rgb(241, 103, 48);
    opacity: 0.5;
    animation-name: hotsun  ;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes hotsun{
    0%{
        transform: rotate(0deg);
    filter: brightness(90%) saturate(110%) contrast(100%);
    }
    25%{
        transform: rotate(-120deg) scale(1.1);
        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.8;
    }
    50%{
        transform: rotate(-240deg) scale(1.05);

        filter: brightness(200%) saturate(110%) contrast(120%);
        opacity: 0.7;
    }
    75%{
        transform: rotate(-360deg) scale(1.1);
        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.8;
    }
    100%{
        filter: brightness(90%) saturate(110%) contrast(100%);
    }
}

.sunn{
    opacity: 0.5;
    filter: saturate(120%) brightness(90%) contrast(120%);
    animation-name: sunn  ;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sunn{
    0%{
        transform:  rotate(120deg);
    filter: brightness(90%) saturate(110%) contrast(100%);
    }
    25%{
        transform:  rotate(240deg);

        filter: brightness(200%) saturate(100%) contrast(110%);
        opacity: 0.6;
    }
    50%{
        
        transform:  rotate(360deg) scale(1.1);

        filter: brightness(110%) saturate(110%) contrast(120%);
        opacity: 0.4;
    }
    75%{
        transform:  rotate(480deg);

        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.6;
    }
    100%{
        transform:  rotate(540deg);

        filter: brightness(90%) saturate(110%) contrast(100%);
    }
}


.mercury {
    border-radius:50%;
    top:30vh ;
    left: 45vw;
    width: 0.1vw;
    height: 0.1vw;
    animation-name: mercury  ;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mercury{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-10vw,10vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-20vw,20vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-25vw,35vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(-10vw,40vh) scale(2)  rotate(-180deg) ;
    }
    55%{
        transform:translate(5vw,40vh) scale(2)  rotate(-180deg) ;
    }
    65%{
        transform:translate(20vw,30vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    75%{
        transform:translate(35vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(18vw,10vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.venus {
    border-radius: 50%;
    top:25vh ;
    left: 40vw;
    width: 0.248vw;
    height: 0.248vw;
    animation-name:venus ;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes venus{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(2)  rotate(-180deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(25vw,15vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.earth {
    border-radius: 50%;
    top:35vh ;
    left: 40vw;
    width: 0.261vw;
    height: 0.261vw;
    animation-name:earth  ;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes earth{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(2)  rotate(-180deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(25vw,15vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}

.mars{
    border-radius: 50%;
    top:28vh ;
    left: 50vw;
    width: 0.1vw;
    height: 0.1vw;
    animation-name:mars ;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mars{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-10vw,10vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-20vw,20vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-25vw,35vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(-10vw,40vh) scale(2)  rotate(-180deg) ;
    }
    55%{
        transform:translate(5vw,40vh) scale(2)  rotate(-180deg) ;
    }
    65%{
        transform:translate(20vw,30vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    75%{
        transform:translate(35vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(18vw,10vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.jupiter{
    border-radius: 50%;
    top:40vh ;
    left: 85vw;
    width: 2.865vw;
    height: 2.865vw;
    animation-name:jupiter ;
    animation-duration:120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes jupiter{
    0%{
        transform: translate() rotate(45deg);
        opacity: 1;
    }
    10%{
        transform: translate(-20vw,15vh) scale(0.9) rotate(90deg);
        opacity: 0.3;
    }
    20%{
        transform: translate(-40vw,20vh) scale(0.8) rotate(135deg);
        opacity: 0;
    }
    30%{
        transform: translate(-60vw,25vh) scale(0.9) rotate(180deg);
       opacity: 0.5;
    }
    40%{
       transform: translate(-80vw,20vh) scale(1) rotate(225deg);
       opacity: 1;
}
    50%{
        transform: translate(-100vw,15vh) rotate(270deg);

    }
    60%{
        transform: translate(-80vw,5vh) rotate(315deg);

    }
    70%{
        transform: translate(-60vw,-8vh) rotate(360deg);

    }
    80%{
        transform: translate(-40vw,-12vh) rotate(405deg);

    }
    90%{
        transform: translate(-20vw,-10vh) rotate(450deg);

    }
    
    100%{
        transform: rotate(495deg);

    }

}


.saturn{
    border-radius: 50%;
    top:5vh ;
    left: 50vw;
    width: 7.17vw;
    height: 7.17vw;
    animation-name:saturn ;
    animation-duration:200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes saturn{
    0%{
        transform: rotate(-60deg);
        opacity: 1;
    }
    11%{
        transform: translate(20vw,10vh) rotate(-120deg);
        opacity: 1;
    }
    22%{
        transform:translate(30vw,20vh)  rotate(-180deg) ;
        opacity: 1;

    }
    33%{
        transform: translate(40vw,35vh)  rotate(-240deg);
        opacity: 1;

    }
    44%{
        transform:translate(20vw,40vh) scale(0.9)  rotate(-300deg) ;
        opacity: 0.5;
    }
    50%{
        transform:translate(10vw,42vh) scale(0.85) rotate(-330deg);
        opacity: 0.1;
    }
    
    55%{
        transform:translate(0vw,40vh) scale(0.8)  rotate(-360deg) ;
        opacity: 0;
    }
    65%{
        transform:translate(-30vw,30vh) scale(0.9)  rotate(-420deg) ;
        opacity: 0.3;


    }
    75%{
        transform:translate(-45vw,20vh) scale(0.8)    rotate(-480deg) ;
      opacity: 1;
    }
    85%{
        transform:translate(-28vw,10vh)  rotate(-540deg) ;
        
    }
    100%{
    
        transform: rotate(-600deg);

    }
}


.uran {
    border-radius:50%;
    top:10vh ;
    left: 35vw;
    width: 3.12vw;
    height: 3.12vw;
    animation-name:uran ;
    animation-duration: 205s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes uran{
    0%{
        transform: rotate(0deg) ;
       
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-360deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.1) rotate(-540deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(1.2)  rotate(-720deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(1.2)  rotate(-920deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,16vh) scale(1)  rotate(-1140deg) ;
        opacity: 0.7;
    }
    83%{
        transform:translate(25vw,8vh)   rotate(-1320deg) ;
        opacity: 0;
    }
    100%{
        transform: rotate(-1500deg) ;
        opacity: 0.5;
    }
}

.neptun {
    border-radius:50%;
    left: 10vw;
    top:60vh ;
    width: 1.01vw;
    height: 1.01vw;
    animation-name:neptun ;
    animation-duration: 350s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}   

@keyframes neptun{
    0%{
        transform: rotate(0deg) ;
    }
    10%{
        transform: translate(10vw,-15vh) rotate(30deg);
    }
    20%{
        transform:translate(25vw,-35vh) rotate(60deg) ;
    }
    30%{
        transform: translate(40vw,-50vh) scale(1.2) rotate(90deg);
    }
    40%{
        transform:translate(60vw,-60vh) scale(1.2) rotate(120deg);
    }
    50%{
        transform:translate(85vw,-70vh) scale(1.2)  rotate(150deg) ;
           }
    60%{
        transform:translate(65vw,-40vh) scale(1.2) rotate(180deg) ;
        opacity: 1;
    }
    70%{
        transform:translate(45vw,-5vh) scale(1)  rotate(210deg) ;
        opacity: 0;
    }
    80%{
        transform:translate(25vw,15vh) scale(1) rotate(240deg);
        
    }
    90%{
        transform:translate(10vw,10vh) scale(1)  rotate(270deg) ;
        
    }
    100%{
        transform:translate(-5vw,5vh) rotate(360deg);
      
    }
}

.up-button  {
    display: inline-block;
    position: fixed;
    top:50vw;
    left: 90vw;
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin: 0;
    padding: 5px;
    text-align: center;
    border: none;
}

.up-button svg{
  /*  transform: scale(2.5); */
}

.visually-hidden{
    visibility: hidden;
}

.shown {
    display: inline-block;
  }



/* 

.hidden-button {
    display: none;
}

.up-button {
    position: fixed;
    z-index: 10;
    padding: 0;
    bottom: 75px;
    right: 140px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-weight: 1200;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
    transform: rotate(-90deg);
    fill: white;
} 

.shown {
    display: inline-block;
  } */



.footer-container{
    grid-area: ft;
    background-color: white;
}

