body{
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
}

.wrapper{
    display: block;
    margin: 0 auto;
    height: 300vh;
    max-width: 1800px;
    overflow: hidden;
    background: url("img/universe-2742113.jpg") no-repeat 50% 50%; 
    animation-name:bg ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 600s;
}

.container{
    display: block;
    margin:0 auto;
}


@keyframes bg{
    0%{
    }
    50%{
         background-position-y:  100% ;
         background-position-x:50% ;
    }
100%{
}}


/*HEADER*/







.planets-list{
    display: block;
    margin: 0 auto;
}

.object-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.object-link{
    width: 10em;
}

a.object-link{
    color: white;
}

a:hover.object-link{
    color: grey;
}

section.container.solar-system{
    height: 70vh;
}




.planet{
    position: absolute;
    overflow: hidden;

}

.realsun,
.sun {  
    border-radius: 50%; 
    top:20vh ;
    left: 30vw;
    width: 28.5vw;
    height: 28.5vw;
    animation-name: sun  ;
    animation-duration: 270s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}



@keyframes sun{
    0%{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(720deg) scale(0.5) ;
    }
    100%{
        transform: rotate(1440deg) ;
    }

}

.hotsun{
    animation-name: hotsun  ;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes hotsun{
    0%{
        transform: rotate(0deg);
    filter: brightness(90%) saturate(110%) contrast(100%);
    }
    25%{
        transform: rotate(-120deg) scale(1.2);
        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.8;
    }
    50%{
        transform: rotate(-240deg) scale(1.15);

        filter: brightness(200%) saturate(110%) contrast(120%);
        opacity: 0.7;
    }
    75%{
        transform: rotate(-360deg) scale(1.2);
        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.8;
    }
    100%{
        filter: brightness(90%) saturate(110%) contrast(100%);
    }
}

.sunn{
    opacity: 0.5;
    filter: saturate(120%) brightness(90%) contrast(120%);
    animation-name: sunn  ;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sunn{
    0%{
        transform:  rotate(120deg);
    filter: brightness(90%) saturate(110%) contrast(100%);
    }
    25%{
        transform:  rotate(240deg);

        filter: brightness(200%) saturate(100%) contrast(110%);
        opacity: 0.6;
    }
    50%{
        
        transform:  rotate(360deg) scale(1.1);

        filter: brightness(110%) saturate(110%) contrast(120%);
        opacity: 0.4;
    }
    75%{
        transform:  rotate(480deg);

        filter: brightness(100%) saturate(100%) contrast(110%);
        opacity: 0.6;
    }
    100%{
        transform:  rotate(540deg);

        filter: brightness(90%) saturate(110%) contrast(100%);
    }
}


.mercury {
    border-radius:50%;
    top:30vh ;
    left: 45vw;
    width: 0.1vw;
    height: 0.1vw;
    animation-name: mercury  ;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mercury{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-10vw,10vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-20vw,20vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-25vw,35vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(-10vw,40vh) scale(2)  rotate(-180deg) ;
    }
    55%{
        transform:translate(5vw,40vh) scale(2)  rotate(-180deg) ;
    }
    65%{
        transform:translate(20vw,30vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    75%{
        transform:translate(35vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(18vw,10vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.venus {
    border-radius: 50%;
    top:25vh ;
    left: 40vw;
    width: 0.248vw;
    height: 0.248vw;
    animation-name:venus ;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes venus{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(2)  rotate(-180deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(25vw,15vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.earth {
    border-radius: 50%;
    top:35vh ;
    left: 40vw;
    width: 0.261vw;
    height: 0.261vw;
    animation-name:earth  ;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes earth{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(2)  rotate(-180deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(25vw,15vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}

.mars{
    border-radius: 50%;
    top:28vh ;
    left: 50vw;
    width: 0.1vw;
    height: 0.1vw;
    animation-name:mars ;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mars{
    0%{
        transform: rotate(0deg) ;
        opacity: 0.7;
    }
    11%{
        transform: translate(-10vw,10vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-20vw,20vh)  rotate(-180deg) ;
    }
    33%{
        transform: translate(-25vw,35vh) scale(1.5) rotate(-180deg);
    }
    44%{
        transform:translate(-10vw,40vh) scale(2)  rotate(-180deg) ;
    }
    55%{
        transform:translate(5vw,40vh) scale(2)  rotate(-180deg) ;
    }
    65%{
        transform:translate(20vw,30vh) scale(2.3)  rotate(-180deg) ;
        opacity: 1;
    }
    75%{
        transform:translate(35vw,20vh) scale(1.5)  rotate(-180deg) ;
        opacity: 0.8;
    }
    85%{
        transform:translate(18vw,10vh) scale(1)  rotate(-180deg) ;
        opacity: 0.3;
    }
    100%{
        transform: rotate(-180deg) ;
        opacity: 0.6;
    }
}


.jupiter{
    border-radius: 50%;
    top:40vh ;
    left: 85vw;
    width: 2.865vw;
    height: 2.865vw;
    animation-name:jupiter ;
    animation-duration:120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes jupiter{
    0%{
        transform: translate() rotate(45deg);
        opacity: 1;
    }
    10%{
        transform: translate(-20vw,15vh) scale(0.9) rotate(90deg);
        opacity: 0.3;
    }
    20%{
        transform: translate(-40vw,20vh) scale(0.8) rotate(135deg);
        opacity: 0;
    }
    30%{
        transform: translate(-60vw,25vh) scale(0.9) rotate(180deg);
       opacity: 0.5;
    }
    40%{
       transform: translate(-80vw,20vh) scale(1) rotate(225deg);
       opacity: 1;
}
    50%{
        transform: translate(-100vw,15vh) rotate(270deg);

    }
    60%{
        transform: translate(-80vw,5vh) rotate(315deg);

    }
    70%{
        transform: translate(-60vw,-8vh) rotate(360deg);

    }
    80%{
        transform: translate(-40vw,-12vh) rotate(405deg);

    }
    90%{
        transform: translate(-20vw,-10vh) rotate(450deg);

    }
    
    100%{
        transform: rotate(495deg);

    }

}


.saturn{
    border-radius: 50%;
    top:5vh ;
    left: 50vw;
    width: 7.17vw;
    height: 7.17vw;
    animation-name:saturn ;
    animation-duration:400s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes saturn{
    0%{
        transform: rotate(-60deg);
        opacity: 1;
    }
    11%{
        transform: translate(20vw,10vh) rotate(-120deg);
        opacity: 1;
    }
    22%{
        transform:translate(30vw,20vh)  rotate(-180deg) ;
        opacity: 1;

    }
    33%{
        transform: translate(40vw,35vh)  rotate(-240deg);
        opacity: 1;

    }
    44%{
        transform:translate(20vw,40vh) scale(0.9)  rotate(-300deg) ;
        opacity: 0.5;
    }
    50%{
        transform:translate(10vw,42vh) scale(0.85) rotate(-330deg);
        opacity: 0.1;
    }
    
    55%{
        transform:translate(0vw,40vh) scale(0.8)  rotate(-360deg) ;
        opacity: 0;
    }
    65%{
        transform:translate(-30vw,30vh) scale(0.9)  rotate(-420deg) ;
        opacity: 0.3;


    }
    75%{
        transform:translate(-45vw,20vh) scale(0.8)    rotate(-480deg) ;
      opacity: 1;
    }
    85%{
        transform:translate(-28vw,10vh)  rotate(-540deg) ;
        
    }
    100%{
    
        transform: rotate(-600deg);

    }
}


.uran {
    border-radius:50%;
    top:10vh ;
    left: 35vw;
    width: 3.12vw;
    height: 3.12vw;
    animation-name:uran ;
    animation-duration: 205s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes uran{
    0%{
        transform: rotate(0deg) ;
       
    }
    11%{
        transform: translate(-15vw,8vh) rotate(-180deg);
        opacity: 1;
    }
    22%{
        transform:translate(-30vw,16vh)  rotate(-360deg) ;
    }
    33%{
        transform: translate(-15vw,23vh) scale(1.1) rotate(-540deg);
    }
    44%{
        transform:translate(0vw,26vh) scale(1.2)  rotate(-720deg) ;
    }
    
    60%{
        transform:translate(20vw,23vh) scale(1.2)  rotate(-920deg) ;
        opacity: 1;
    }
    73%{
        transform:translate(40vw,16vh) scale(1)  rotate(-1140deg) ;
        opacity: 0.7;
    }
    83%{
        transform:translate(25vw,8vh)   rotate(-1320deg) ;
        opacity: 0;
    }
    100%{
        transform: rotate(-1500deg) ;
        opacity: 0.5;
    }
}

.neptun {
    border-radius:50%;
    left: 10vw;
    top:60vh ;
    width: 1.01vw;
    height: 1.01vw;
    animation-name:neptun ;
    animation-duration: 750s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}   

@keyframes neptun{
    0%{
        transform: rotate(0deg) ;
    }
    10%{
        transform: translate(10vw,-15vh) rotate(30deg);
    }
    20%{
        transform:translate(25vw,-35vh) rotate(60deg) ;
    }
    30%{
        transform: translate(40vw,-50vh) scale(1.2) rotate(90deg);
    }
    40%{
        transform:translate(60vw,-60vh) scale(1.2) rotate(120deg);
    }
    50%{
        transform:translate(85vw,-70vh) scale(1.2)  rotate(150deg) ;
           }
    60%{
        transform:translate(65vw,-40vh) scale(1.2) rotate(180deg) ;
        opacity: 1;
    }
    70%{
        transform:translate(45vw,-5vh) scale(1)  rotate(210deg) ;
        opacity: 0;
    }
    80%{
        transform:translate(25vw,15vh) scale(1) rotate(240deg);
        
    }
    90%{
        transform:translate(10vw,10vh) scale(1)  rotate(270deg) ;
        
    }
    100%{
        transform:translate(-5vw,5vh) rotate(360deg);
      
    }
}

